body{
    color: #666666;
    margin: 0;
    font-family: 'Prompt', sans-serif !important;
}

.unlinks a{
    text-decoration: none !important;
    color: #999999 !important;
}

/*-------------------------------Nav Bar-------------------------------*/

.active{
    background-color: rgb(234, 234, 234, 80%);
    border-radius: 5em;
}

.nav-link:hover{
    background-color: rgb(234, 234, 234, 80%);
    border-radius: 5em;
}

.navbar-nav{
    margin-top: 0.2em;
    text-align: center;
}

.navbar{
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2);
}




/*-------------------------------Index Home-------------------------------*/

/*-------------------------------Cover Home-------------------------------*/

.cover{
    background-color: rgb(153, 153, 153);
    width: auto;
    height: 55vh;
}

/*-------------------------------category Home-------------------------------*/

.category{
    color: #666666;    
    margin-top: 5em;
}

.padding_blog_home{
    padding: 0em 5vw 0em 5vw;
}

.card {
    margin-top: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1em !important;
    transition: 0.3s;
    cursor: pointer;
}

.img_card{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    height: 240px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}

.title_card{
    color: #669999;
}

.equal-height-columns{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.equal-column-contents{
    height: 100%;
}
  
.container_card {
    padding: 2em;
}

/*-------------------------------Blog Home-------------------------------*/

.blog{
    color: #666666;    
    margin-top: 5em;
}

.img_tumbnail_blog{
    border-radius: 1em;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.author{
    color: #cccccc;
}

.blog_button{
    border-radius: 1em;
    background-color: #cccccc;
    width: 100%;
    height: 100%;
    color: white;
    padding: 0em 1em 0em 1em;
    text-decoration: none !important;
    transition: 0.3s;
    cursor: pointer;
}

.blog_button:hover{
    color: white;
    background-color: #339999;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/*-------------------------------Gallery Home-------------------------------*/

.gallery{
    color: #666666;    
    margin-top: 5em;
}

.img_tumbnail_gallery{
    border-radius: 1em;
    width: 100%;
    height: 480px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}

.img_tumbnail_gallery:hover{
    transform: scale(1.02);
}

.see_all_button{
    border-radius: 1em;
    background-color: #339999;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none !important;
    transition: 0.3s;
    cursor: pointer;
}

.see_all_button:hover{
    color: white;
    background-color: #cccccc;
    transform: scale(1.05);
}

/*-------------------------------About Home-------------------------------*/

.about{
    color: #666666;    
    margin-top: 25em;
    margin-bottom: 10em;
}

.img_tumbnail_about{
    border-radius: 50%;
    width: 6.5vw;
    height: 6.5vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profile_frame{
    border: 0.5px rgb(0, 0, 0, 10%) solid;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 1em;
    margin: 1em;
}

.text_about{
    padding: 10vw;
    text-align: center;
    color: #999999;
}





/*---------------------------------- category_1 --------------------------------*/

/*--------------------------------Category | Body-------------------------------*/

.title_category{
    color: #666666 !important;
}

.bg_body_up_category{
    background-color: white;
    width: 100%;
    padding: 2em 10vw 2em 10vw !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.category_teaser{
    font-family: 'Sarabun', sans-serif !important;
    color: #666666 !important;
}

.img_tumbnail_category{
    border-radius: 1em;
    width: 100%;
    height: 12vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.author{
    color: #cccccc;
}

.category_button{
    border-radius: 1em;
    background-color: #cccccc;
    width: 100%;
    height: 100%;
    color: white;
    padding: 0em 1em 0em 1em;
    text-decoration: none !important;
    transition: 0.3s;
    cursor: pointer;
}

.category_button:hover{
    color: white;
    background-color: #339999;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.category_blog_space{
    margin-top: 3em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1em;
    padding: 1em;
    transition: 0.3s;
}

.category_blog_space:hover{
    transform: scale(1.02);
}





/*----------------------------------BLOG STYLE----------------------------------*/

/*-------------------------------Blog Page | Body-------------------------------*/

.bg_body_up_blog{
    background-color: white;
    width: 100%;
    padding: 0 !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.img_cover_blog{
    width: 100%;
    height: 360px;
}

.title_blog{
    color: #666666;
    font-size: 3.5em !important;
}

.detail_blog{
    display: flex;
}

.date{
    border-radius: 1em;
    background-color: #339999;
    color: white;
    padding: 0em 0.5em 0em 0.5em;
    margin-right: 1em;
}

.author{
    color: #999999;
}

.content_blog{
    padding: 2em 10vw 0em 10vw;
}

.subtitle{
    color: #339999 !important;
    margin-top: 1.5em;
    font-family: 'Sarabun', sans-serif !important;
}

.text_contents{
    margin-top: 2em;
    font-family: 'Sarabun', sans-serif !important;
    color: #666666 !important;
}

.img_contents_blog{
    margin-top: 1em;
    width: 100%;
    height: 100%;
}

/*-------------------------------Blog Page | End Body-------------------------------*/

.end_body{
    margin-top: 5em;
}

.title_blog_end_body{
    color: #666666 !important;
}

.card_next_blog {
    margin-top: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1em !important;
    transition: 0.3s;
    cursor: pointer;
}

.img_card_next_blog{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    height: 144px;
}

.card_next_blog:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}

.title_card_next_blog{
    color: #669999;
}

.equal-height-columns{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.equal-column-contents{
    height: 100%;
}
  
.container_card {
    padding: 1em;
}






/*------------------------------- home_gallery ------------------------------*/

/*---------------------------------------------------------------------------*/

.title_gallery{
    color: #666666;
    text-align: center;
}

.img_gallery_card{
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(168, 168, 168, 0.1);

}

.img_gallery_user{
    margin: auto;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.user_text_name_gallery{
    color: #666666 !important;
    margin: auto;
}

.user_subtext_name_gallery{
    color: #cccccc !important;
    margin: auto;
}

.gallery_card{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 1em !important;
    margin: 5em 10vw 2em 8vw;
    transition: 0.3s;
    cursor: pointer;
}

.gallery_card:hover{
    transform: scale(1.05);
}

.user_name_gallery{
    padding: 2.5vh 1.5vw 2vh 1.5vw;
}

.user_name_right_gallery{
    padding-left: 0 !important;
}

.caption_gallery{
    color: #999999;
    padding: 2em 2vw 0em 2vw;
}

.time_caption_gallery{
    color: #cccccc;
    padding: 0em 2vw 2em 2vw;
    font-size: 0.8em;
}









/*------------------------------------ Home ------------------------------------*/

/*---------------------------------- Category ----------------------------------*/

.title_category{
    margin: 3em 0em 0em 0em;
}

.title_categoriess{
    margin: 10em 0em 0em 0em;
}



/*-------------------------------------------------------------------*/
