body{
    color: #666666;
    margin: 0;
    font-family: 'Prompt', sans-serif !important;
}

/*-------------------------------Cover-------------------------------*/

.cover{
    background-color: rgb(153, 153, 153);
    width: auto;
    height: 55vh;
}

/*-------------------------------category-------------------------------*/

.category{
    color: #666666;    
    margin-top: 5em;
}

.card {
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 1em !important;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container_card {
    padding: 2em;
}

/*-------------------------------blog-------------------------------*/

.blog{
    color: #666666;    
    margin-top: 5em;
}

/*-------------------------------gallary-------------------------------*/

.gallary{
    color: #666666;    
    margin-top: 5em;
}

/*-------------------------------about-------------------------------*/

.about{
    color: #666666;    
    margin-top: 5em;
}

