body{
    color: #666666;
    margin: 0;
    font-family: 'Prompt', sans-serif !important;
}

/*-------------------------------Cover-------------------------------*/

.active{
    background-color: #cccccc;
    border-radius: 5em;
}


/*-------------------------------Cover-------------------------------*/

.cover{
    background-color: rgb(153, 153, 153);
    width: auto;
    height: 55vh;
}

/*-------------------------------category-------------------------------*/

.category{
    color: #666666;    
    margin-top: 5em;
}

.card {
    margin-top: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1em !important;
    transition: 0.3s;
    cursor: pointer;
}

.img_card{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    height: 240px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}

.title_card{
    color: #669999;
}

.equal-height-columns{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.equal-column-contents{
    height: 100%;
}
  
.container_card {
    padding: 2em;
}

/*-------------------------------blog-------------------------------*/

.blog{
    color: #666666;    
    margin-top: 5em;
}

/*-------------------------------gallary-------------------------------*/

.gallary{
    color: #666666;    
    margin-top: 5em;
}

/*-------------------------------about-------------------------------*/

.about{
    color: #666666;    
    margin-top: 5em;
}

